<!-- Generated your favicon at realfavicongenerator.net and copy code here -->
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/guocdorg/guocdSitePicture/main/logo.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/guocdorg/guocdSitePicture/main/logo.png" />
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/guocdorg/guocdSitePicture/main/logo.png" />
<link rel="manifest" href="" />
<link rel="mask-icon" href="" color="#8aa2d3" />
<link rel="shortcut icon" href="" />
<meta name="theme-color" content="#ffffff" />